<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="Navbar">
        <p>My Official Web PAge Web Page</p>
    </div>
    <div>
        @RenderBody()
    </div>
    <div id="Footer">
        <p>Footer</p>
        <a href="FileResult">View file</a>
        <a href="PhysicalPath">my File</a>
        <a href="stronglytyped">Strongly Typed</a>
        <a href="/view">Back</a>
    </div>
</body>
</html>
