@model Animals
<div>
    @* <p>id::@ViewBag.animals.Id</p>
    <h1>AnimalName::@ViewBag.animals.AnimalName</h1> *@
    <h1>view</h1>
        <p>@Model.Id</p>
       <p>@Model.AnimalName</p>
       <p>@Model.Description</p>
</div>